<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <appSettings>
    <add key="data-provider" value="AnywayAnyday.DataProviders.GuestBookXmlProvider.GuestBookXmlProvider, AnywayAnyday.DataProviders.GuestBookXmlProvider" />
    <!--add key="data-provider" value="AnywayAnyday.GusetBookSqlLiteProvider.GuestBookSqlLiteProvider, AnywayAnyday.GusetBookSqlLiteProvider" /-->
    <add key="port" value="8080" />
    <add key="host" value="localhost" /> <!-- Host maybe: localhost, +, *, whatever other name -->
    <add key="logging-level" value="Info" />
    <add key="storage-file" value = "storage.xml" />
    <add key="log-inner-exception" value="true" /> <!-- Should be used for Castle Console Logger. For advanced loggers like to NLog, it is not required. -->

    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultSqlStorage" connectionString="Data Source = storage.db; Version=3; Journal Mode=Off; New=True; Pooling=True; Max Pool Size=20;" providerName = "System.Data.SQLite" />
  </connectionStrings>

  <castle>

    <facilities>
      <facility id="loggingfacility"
           type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
           loggingApi="console"
           configFile="logging.config" />
    </facilities>

  </castle>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>