<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <appSettings>
    <add key="data-provider" value="AnywayAnyday.DataProviders.GuestBookXmlProvider.GuestBookXmlProvider, AnywayAnyday.DataProviders.GuestBookXmlProvider" />
    <add key="port" value="8080" />
    <add key="logging-level" value="Info" />
    <add key="storage-file" value = "storage.xml" />
  </appSettings>


  <castle>

    <facilities>
      <facility id="loggingfacility"
           type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
           loggingApi="console"
           configFile="logging.config" />
    </facilities>

  </castle>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>